## VccAUX is 3.3V.
CONFIG VCCAUX=3.3;

## Clock and reset.
Net osc_clk LOC=P55 | TNM_NET = sys_clk_pin | IOSTANDARD=LVCMOS33;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 50000 kHz;
Net man_rstn LOC=P67 | TIG | IOSTANDARD=LVCMOS33 | PULLUP;

## UART
Net dev_mosi LOC=P104 | IOSTANDARD=LVCMOS33;
Net dev_miso LOC=P144 | IOSTANDARD=LVCMOS33;

## CPLD interface
#Net cpld_jtagen LOC=P82 | IOSTANDARD=LVCMOS33;
#Net cpld_rstn   LOC=P74 | IOSTANDARD=LVCMOS33;
#Net cpld_clk    LOC=P78 | IOSTANDARD=LVCMOS33;
#Net cpld_load   LOC=P80 | IOSTANDARD=LVCMOS33;
#Net cpld_mosi   LOC=P81 | IOSTANDARD=LVCMOS33;
#Net cpld_miso   LOC=P79 | IOSTANDARD=LVCMOS33; 

## Buttons
Net buttons_GPIO_IO_I_pin<0> LOC=P66 | IOSTANDARD=LVCMOS33 | PULLDOWN;
Net buttons_GPIO_IO_I_pin<1> LOC=P62 | IOSTANDARD=LVCMOS33 | PULLDOWN;
Net buttons_GPIO_IO_I_pin<2> LOC=P61 | IOSTANDARD=LVCMOS33 | PULLDOWN; 

## SPI interface
#Net spi_sdcard_csn LOC=P75 | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST;
#Net spi_flash_csn  LOC=P38 | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST;
Net spi_lcd_csn    LOC=P69 | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST;
Net spi_mosi       LOC=P64 | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST;
Net spi_miso       LOC=P65 | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST;
Net spi_clk        LOC=P70 | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST; 

## SRAM and SDRAM interface
Net SDRAM_mem_addr_pin<0>      LOC=P45 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
Net SDRAM_mem_addr_pin<1>      LOC=P46 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
Net SDRAM_mem_addr_pin<2>      LOC=P47 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
Net SDRAM_mem_addr_pin<3>      LOC=P48 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
Net SDRAM_mem_addr_pin<4>      LOC=P59 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
Net SDRAM_mem_addr_pin<5>      LOC=P58 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
Net SDRAM_mem_addr_pin<6>      LOC=P57 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
Net SDRAM_mem_addr_pin<7>      LOC=P56 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
Net SDRAM_mem_addr_pin<8>      LOC=P51 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
Net SDRAM_mem_addr_pin<9>      LOC=P50 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
Net SDRAM_mem_addr_pin<10>     LOC=P44 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
Net SDRAM_mem_addr_pin<11>     LOC=P41 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
Net SDRAM_mem_addr_pin<12>     LOC=P40 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
Net SDRAM_mem_addr_pin<13>     LOC=P39 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
Net SDRAM_mem_addr_pin<14>     LOC=P43 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
Net SDRAM_mem_addr_pin<15>     LOC=P33 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
Net SDRAM_mem_addr_pin<16>     LOC=P34 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
Net SDRAM_mem_addr_pin<17>     LOC=P60 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;

Net SDRAM_mem_data_pin<0>      LOC=P6  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | KEEPER;
Net SDRAM_mem_data_pin<1>      LOC=P8  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | KEEPER;
Net SDRAM_mem_data_pin<2>      LOC=P10 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | KEEPER;
Net SDRAM_mem_data_pin<3>      LOC=P12 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | KEEPER;
Net SDRAM_mem_data_pin<4>      LOC=P15 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | KEEPER;
Net SDRAM_mem_data_pin<5>      LOC=P17 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | KEEPER;
Net SDRAM_mem_data_pin<6>      LOC=P22 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | KEEPER;
Net SDRAM_mem_data_pin<7>      LOC=P24 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | KEEPER;
Net SDRAM_mem_data_pin<8>      LOC=P23 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | KEEPER;
Net SDRAM_mem_data_pin<9>      LOC=P21 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | KEEPER;
Net SDRAM_mem_data_pin<10>     LOC=P16 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | KEEPER;
Net SDRAM_mem_data_pin<11>     LOC=P14 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | KEEPER;
Net SDRAM_mem_data_pin<12>     LOC=P11 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | KEEPER;
Net SDRAM_mem_data_pin<13>     LOC=P9  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | KEEPER;
Net SDRAM_mem_data_pin<14>     LOC=P7  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | KEEPER;
Net SDRAM_mem_data_pin<15>     LOC=P5  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | KEEPER;

Net SDRAM_mem_wen_pin          LOC=P29 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;

Net SDRAM_mem_lbn_pin          LOC=P27 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
Net SDRAM_mem_ubn_pin          LOC=P26 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;

Net SDRAM_sram_csn_pin         LOC=P1  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
Net SDRAM_sram_oen_pin         LOC=P2  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;

Net SDRAM_sdram_clk_pin        LOC=P30 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
Net SDRAM_sdram_cke_pin        LOC=P32 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
Net SDRAM_sdram_csn_pin        LOC=P35 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;

## Expansion port A
## LOGSYS 10/100 Ethernet module.
#NET eth_en      LOC=P143 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
#NET eth_al      LOC=P141 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
#NET eth_rnw_ad8 LOC=P142 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
#NET eth_ad<0>   LOC=P140 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLDOWN;
#NET eth_ad<1>   LOC=P139 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLDOWN;
#NET eth_ad<2>   LOC=P138 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLDOWN;
#NET eth_ad<3>   LOC=P137 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLDOWN;
#NET eth_ad<4>   LOC=P134 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLDOWN;
#NET eth_ad<5>   LOC=P133 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLDOWN;
#NET eth_ad<6>   LOC=P132 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLDOWN;
#NET eth_ad<7>   LOC=P131 | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLDOWN;
#NET eth_irq     LOC=P127 | IOSTANDARD=LVTTL | PULLUP;
#
### Expansion port B
### 8-bit GPIO.
### --------------------------------------------------------
### | x |bio15|bio13|bio11|bio9 |bio7 |bio5 | 3V3 |GND | x |
### --------------------------------------------------------
### | x |bio16|bio14|bio12|bio10|bio8 |bio6 |bio4 | 5V | x |
### --------------------------------------------------------
#NET gpio_io<12> LOC=P84  | PULLUP | IOSTANDARD=LVCMOS33; # BIO16 (Diff. 6N)
#NET gpio_io<11> LOC=P85  | PULLUP | IOSTANDARD=LVCMOS33; # BIO15 (Diff. 6P)
#NET gpio_io<10> LOC=P87  | PULLUP | IOSTANDARD=LVCMOS33; # BIO14 (Diff. 5N)
#NET gpio_io<9>  LOC=P88  | PULLUP | IOSTANDARD=LVCMOS33; # BIO13 (Diff. 5P)
#NET gpio_io<8>  LOC=P92  | PULLUP | IOSTANDARD=LVCMOS33; # BIO12 (Diff. 4N)
#NET gpio_io<7>  LOC=P93  | PULLUP | IOSTANDARD=LVCMOS33; # BIO11 (Diff. 4P)
#NET gpio_io<6>  LOC=P97  | PULLUP | IOSTANDARD=LVCMOS33; # BIO10 (Diff. 3N)
#NET gpio_io<5>  LOC=P98  | PULLUP | IOSTANDARD=LVCMOS33; # BIO9  (Diff. 3P)
#NET gpio_io<4>  LOC=P99  | PULLUP | IOSTANDARD=LVCMOS33; # BIO8  (Diff. 2N)
#NET gpio_io<3>  LOC=P100 | PULLUP | IOSTANDARD=LVCMOS33; # BIO7  (Diff. 2P)
#NET gpio_io<2>  LOC=P101 | PULLUP | IOSTANDARD=LVCMOS33; # BIO6  (Diff. 1N)
#NET gpio_io<1>  LOC=P102 | PULLUP | IOSTANDARD=LVCMOS33; # BIO5  (Diff. 1P)
#NET gpio_io<0>  LOC=P83  | PULLUP | IOSTANDARD=LVCMOS33; # BIO4
